// $sete-primary : #1c2e51;
$primary : #1c2e51;
// $sete-secondary : #ba8003;
$secondary : #ba8003;
// $sete-light : #f7f2e8;
$light : #f7f2e8;
// $list : #DB4144,#EB6650;
// $success : #E2EED8;
// $warning : #FCF7E4;
// $danger : #EFDFDF;
// $danger2 : #A94442;
// $info : #DCEDF6;
// $light-grey : #EBE8E4;
// $grey : #EBE8E4;
// $darker-grey : #B4B4B4;
// $dark : #010101;

// $navbar-inverse-bg : $dark;
// $navbar-default-bg : $dark;
// $navbar-padding-vertical: 0